<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONTABILITATE</title>
  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <script>
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/6499ad1dcc26a871b024c5fa/1h3s4of20';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
</head>

<body>
  <div class="container">
    <h1 class="text-center mt-4 mb-4">CONTABILITATE</h1>
    <div class="text-center mb-4">
      <img src="images/contability.png" class="img-fluid" alt="Contability Image">
    </div>
    <div>
      <p>Experții noștri vă oferă servicii specializate de contabilitate, servicii profesionale oferite de experți
        contabili pentru a gestiona și a oferi suport în domeniul financiar-contabil al organizației dumneavoastră.
        Aceste servicii acoperă o gamă largă de activități contabile și fiscale și sunt adaptate nevoilor specifice ale
        fiecărei organizații.</p>
      <p>Servicii specializate de contabilitate:</p>


      <p><i class="bi bi-arrow-right"></i><b>Contabilitate financiară</b>: Aceasta implică înregistrarea și gestionarea
        tranzacțiilor financiare ale unei
        organizații în conformitate cu principiile contabilității. Serviciile pot include întocmirea și revizuirea
        bilanțului contabil, a contului de profit și pierdere, a fluxului de numerar și a altor rapoarte financiare.
      </p>


      <p><i class="bi bi-arrow-right"></i><b>Raportare financiară</b>: Serviciile de raportare financiară se
        concentrează pe pregătirea și prezentarea
        rapoartelor financiare în conformitate cu standardele și regulamentele contabile, precum IFRS (Standardele
        Internaționale de Raportare Financiară) sau GAAP (Principiile Contabilității Generale Acceptate). Aceste
        rapoarte sunt utilizate de organizații pentru a informa părțile interesate, cum ar fi acționarii,
        instituțiile financiare și autoritățile de reglementare.</p>


      <p><i class="bi bi-arrow-right"></i><b>Contabilitate de gestiune</b>: Serviciile de contabilitate de gestiune
        vizează furnizarea de informații
        financiare și analitice pentru luarea deciziilor interne în cadrul organizației. Acest lucru poate include
        analiza costurilor, bugetarea, analiza performanței și evaluarea profitabilității diferitelor produse sau
        linii de afaceri.</p>


      <p><i class="bi bi-arrow-right"></i><b>Audit financiar</b>>: Auditul financiar implică evaluarea și verificarea
        rapoartelor financiare ale unei
        organizații pentru a asigura exactitatea, transparența și conformitatea cu standardele contabile și
        reglementările aplicabile. Serviciile de audit financiar pot fi furnizate de firme specializate în audit și
        revizuirea conturilor.</p>


      <p><i class="bi bi-arrow-right"></i><b>Consultanță fiscală</b>: Serviciile de consultanță fiscală se concentrează
        pe gestionarea obligațiilor fiscale
        și optimizarea structurilor fiscale ale organizației. Acestea includ pregătirea și depunerea declarațiilor
        fiscale, strategii de reducere a impozitelor, evaluarea riscurilor fiscale și consultanță privind legislația
        fiscală.</p>


      <p><i class="bi bi-arrow-right"></i><b>Consultanță financiară</b>: Serviciile de consultanță financiară acoperă o
        gamă largă de activități, cum ar fi
        planificarea financiară, evaluarea investițiilor, evaluarea performanței financiare, managementul
        lichidității și optimizarea structurii de capital.</p>

      </ol>
      <p>Este important de menționat că serviciile specializate de contabilitate pot varia în funcție de dimensiunea și
        industria organizației, iar specialiștii noștri oferă consultanță specializată prin pachete personalizate pentru
        a se potrivi nevoilor specifice ale clienților noștri.</p>
    </div>
  </div>
</body>

</html>