<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R&R Consultants</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon"> 
    <script>
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/6499ad1dcc26a871b024c5fa/1h3s4of20';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-4 mb-4">VALORI</h1>
        <p>R&R Consultants SRL se angajează să ofere servicii de înaltă calitate și soluții personalizate, adaptate
            nevoilor și obiectivelor clienților săi. Compania se concentrează pe colaborarea strânsă cu clienții, pe
            înțelegerea profundă a afacerii și pe furnizarea de soluții eficiente și inovatoare.</p>

        <h2 class="text-center mb-4">OBIECTIVELE NOASTRE</h2>
        <p><i class="bi bi-arrow-right"></i> <b>Furnizarea de servicii de consultanță de înaltă calitate</b>: furnizarea
            de
            servicii profesionale și de înaltă calitate clienților săi. Aceasta include
            asigurarea că expertiza și cunoștințele echipei noastre sunt actualizate, că sunt aplicate cele mai
            bune practici și că soluțiile oferite sunt adaptate nevoilor specifice ale clienților.</p>
        <p><i class="bi bi-arrow-right"></i> <b>Creșterea satisfacției clienților</b>: obținerea
            satisfacției clienților. Compania urmărește să depășească așteptările clienților prin furnizarea de
            soluții eficiente, înțelegerea nevoilor lor și oferirea unui serviciu personalizat. Prin obținerea
            unor rezultate pozitive și construirea de relații de încredere pe termen lung cu clienții, R&R
            Consultants își propune să își consolideze reputația și să crească succesul său.</p>
        <p><i class="bi bi-arrow-right"></i> <b>Dezvoltarea și păstrarea relațiilor cu clienții</b>: Un
            obiectiv important este dezvoltarea și menținerea unor relații solide și durabile cu clienții.
            Compania dorește să construiască parteneriate pe termen lung cu clienții săi, să înțeleagă nevoile
            lor în evoluție și să ofere servicii continue pentru a susține succesul acestora pe termen lung.</p>
        <p><i class="bi bi-arrow-right"></i> <b>Extinderea portofoliului de servicii</b>: R&R Consultants
            are ca obiectiv extinderea gamei de servicii pe care le oferă, dezvoltarea de competențe noi,
            achiziții sau parteneriate strategice pentru a oferi clienților o gamă mai largă și mai completă de
            soluții de consultanță. Prin diversificarea serviciilor vrem să atragem noi clienți și să răspundem
            mai bine nevoilor existente ale clienților noștri.</p>
        <p><i class="bi bi-arrow-right"></i> <b>Creșterea și expansiunea companiei</b>: Alt obiectiv
            important este creșterea și expansiunea companiei: creșterea numărului de clienți, extinderea pe noi
            piețe geografice sau dezvoltarea de noi birouri sau filiale. Prin creșterea și expansiunea
            strategică, dorim să consolidăm poziția pe piață și să beneficiem de oportunități suplimentare de
            afaceri.</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>